# Ignore target directory (Maven build output)
target

# Ignore Git-related files
.git
.gitignore

# Ignore IDE and build tool files
*.iml
.idea/
.vscode/

# Ignore environment files
*.env

README.md
Dockerfile
*.log