.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var( --color-overlay-light);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.bubble {
    border-radius: 50%;
    animation: bubble infinite alternate;
}


@keyframes bubble {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
